
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 55.5%;
  background-color: #cfcfcf;
  margin: 1rem;
}

:root {
  --main-color: #333;
  --primary-color: #acacac;
  --icon-color: #525252;
}

i {
  width: 2rem;
  height: 2rem;
}

.fa,
.fas {
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

body {
  width: 80%;
  height: auto;
  margin: auto;
}



.main-cart-section h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: rgb(156, 50, 50);
  margin: 1rem 0rem;
}

.main-cart-section .total-items {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.total-items-count {
  font-weight: bold;
  color: var(--main-color);
}

/* cart main div start  */

.main-cart-section .cart-items {
  width: 100%;
  height: auto;
  background-color: white;
  place-items: center;


}

table {
  color: var(--main-color);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.859);
  font-size: medium;
  text-Align: left;
  padding: 1rem;
  padding-left: 10rem;
}

.cart-items hr {
  margin: 1rem auto;
}

.cart-items-container {
  width: auto;
  height: 100%;
  background-color: white;
  padding: 2rem;

}

.items-info {
  width: 100%;
  height: 11rem;
  /* background-color: lavender; */
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 2fr 0.8fr;

}

.items-info .product-img img {
  width: 9rem;
  height: auto;
  border: 0.141rem solid var(--primary-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 8rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;

}

.items-info .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.items-info .title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: green;
}

.items-info .title p {
  font-style: normal;
  font-weight: 200;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-align: left;
  color:black;
}
.items-info .title p span{
  font-style: normal;
  font-weight: lighter;
  text-transform: capitalize;
  color: var(--icon-color);
  margin-left: 1rem;
} 

.add-minus-quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-minus-quantity button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

}

.add-minus-quantity input {
  width: 6rem;
  height: 3rem;
  border: 0.141rem solid var(--primary-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.add-minus-quantity input:focus {
  outline: none;
  
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
}

.remove-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:8rem;
  font-size: large;
  color:red;

}

.remove-item button {
  border: none;
  background-color:transparent;
}

.card-total {
  width: 95%;
  margin-bottom: 4rem;
  text-align: left;
}

.card-total h3 {
  font-style: 200;
  font-size: 2.58rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: black;
  text-align: right;
}


.card-total h3 span {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color:green;
  margin-left: 1rem;
}

.card-total button {
  border: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  color: #fff;
  background-color: green;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}

/* Hover */
.fa-trash-alt {
  color: #ed4848;
}

.fa-plus:hover {
  color: #42c157;
}

.fa-minus:hover {
  color: #ffb800;
}

.fa-plus,
.fa-minus {
  color: var(--icon-color);
  
}



.card-total button:hover {
  background-color: #0077dc;
}

.card-total .clear-cart {
  margin-left: 4rem;
  margin-bottom: 2rem;
  background-color: rgb(209, 61, 61);
}

.card-total .clear-cart:hover {
  background-color: rgb(197, 5, 5);
}



@media (max-width: 968px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  .continue-shopping h3 {
    margin-left: 0;
    font-size: 1.85rem;
  }

  .items-info {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .title,
  .add-minus-quantity,
  .price,
  .remove-item {
    padding-left: 2rem;
  }

  .items-info .product-img {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .add-minus-quantity {
    margin: 2rem 0 2rem 0;
    justify-content: flex-start;
  }

  .price {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .price h3::before {
    content: "Price: ";
  }

  .remove-item {
    justify-content: flex-start;
  }

  .card-total {
    margin-bottom: 2rem;
    text-align: center;
  }

  .card-total button {
    margin-bottom: 3rem;
  }
}
